---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "En la actualidad 2026",
    title: "Profesor de taller de desarrollo web 2",
    company: "Escuela Técnica Secundaria CET N°30 Cipolletti Rio Negro",
    description:
      "Dictado de taller práctico sobre TypeScript, Angular, Angular Material y Bootstrap. Desarrollo de proyectos prácticos orientados a aplicaciones web modernas con componentes reutilizables y arquitectura modular."
  },
  {
    date: "En la actualidad 2026",
    title: "Profesor de taller de desarrollo web 1",
    company: "Escuela Técnica Secundaria CET N°30 Cipolletti Rio Negro",
    description:
      "Dictado de taller práctico a más de 22 estudiantes sobre HTML, CSS y Flexbox. Coordinación de proyectos grupales con enfoque en diseño responsive y buenas prácticas de maquetado web."
  },{
    date: "2026",
    title: "Curso de nivelación en JavaScript",
    company: "Escuela Técnica Secundaria CET N°30 Cipolletti Rio Negro",
    description:
      "Curso intensivo de 2 semanas para estudiantes de 5to año. Temario: variables, funciones, estructuras secuenciales, condicionales y repetitivas, arreglos y objetos. Orientado a nivelar la base necesaria para introducir TypeScript y Angular."
  },
  {
    date: "En 2025",
    title: "Profesor de Ingeniería de Software",
    company: "Escuela Técnica Secundaria CET N°30 Cipolletti Rio Negro",
    description:
      "Enseñanza de metodologías ágiles como Scrum. Análisis estratégico FODA. Gestión de proyectos con Trello. Requisitos Funcionales y No Funcionales. Ciclo de vida del Software, UX y UI. Testing. Documentación."
  },
  {
    date: "En 2025",
    title: "Profesor de Sistemas de Información",
    company: "Escuela Técnica Secundaria CET N°30 Cipolletti Rio Negro",
    description:
      " Enseñanza en Sistemas. Sistemas de Información. Datos. Información. Lenguaje Unificado de Modelado (UML)."
  },
  {
    date: "Enero 2022 - Noviembre 2024",
    title: "Operador y Programador Centro de Mecanizado",
    company: "Tacker S.R.L",
    description:
      "Encargado de la programación, configuración y operación de centros de mecanizado CNC, asegurando precisión y eficiencia en la fabricación de piezas. Llegué a ser operador oficial, optimizando procesos y mejorando tiempos de producción. "
  },
  {
    date: "Julio 2021 - Julio 2022",
    title: "Operador y Programador de Torno CNC",
    company: "Tacker S.R.L",
    description:
      "Responsable de la programación, configuración y operación de tornos CNC, asegurando precisión en la fabricación de piezas.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
